	<h1 id = "welcome">Welcome Stranger,</h1>
	<h1 id = "welcome">To Simply An Opinion</h1>
	<p id = "home-p">Everyone's opinions matters, whether it's on politics, environments, friendship, or even something as mundane as what to eat for breakfast. While some opinions enlight, others enrage. Hopefully some of the opinions below will broaden your mind and challenge your beliefs. </p>
	<p id = "home-p">If you'd like, you may <%= link_to "click here", new_user_registration_path%> to sign up and begin to share your own opinions with the world.</p>
