<h1>What Do You Want To Tell the World?</h1>
</br>
<p style = "color:red; font-size: 1.35em;">* Voice your opinion in a rational and logical manner.</p>
<p style = "color:red; font-size: 1.35em;">* Try not to include any curse words or swearing.</p>
<p style = "color:red; font-weight:bold; font-size: 1.35em;">* ALWAYS EXPLAIN THE "WHY" OF THE OPINION</p>
</br>
<%= render 'form' %>

<%= link_to 'Back', voices_path %>
