<p id="notice"><%= notice %></p>

<div class = "well">
	<p>
	  <strong>Opinion:</strong>
	  <%= @voice.opinion %>
	</p>
	<% if current_user == @voice.user %>
		<%= link_to 'Edit', edit_voice_path(@voice) %> |
	<%end%>
	<%= link_to 'Back', voices_path %>
</div>


