@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);


body{   
  background-image: image-url('back.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
	background-color: rgba(255,255,255,0.7);
}


html body a{
	font-family: "Titillium Web", sans-serif;
}

.logo{
	font-weight: 700; 
}

.alert{
	font-size: 1.2em;
	font-weight: bolder;
	background-color: #fff8c4;
	color: black;
}

.voice{
	border: solid 5px;
}

#opinion{
	text-align: left;
	padding-right: 25px;
}

#home-p{
	text-align: justify;
}

.home{
	color:  #2f4f4f;
	font-size: 2.5em;
	font-weight: bolder;

}

.crud{
	font-size: 0.8em;
	margin: 5px;
	font-weight: bolder;
}

#nav-list, #new{
	font-size: 1.6em;
}

#new a{
	color: #8a2be2;
}

.opinion-list{
	font-size: 1.3em;
}

h1{
 font-weight: bold;	
}

p{
	font-size: 20px;
	a{
		color: #800020;
		font-weight: bold;
	}
}

#welcome{
	color: #0099cc;
	font-size: 64px;
	margin-bottom: 25px;
}

#current{
	color: #0099cc;
	text-align: left;
	font-size: 2.3em;
	padding-bottom: 25px;
	border-bottom: solid 3px;
}

.text-center{
	margin: 60px 0px;
}
 
a {
	color: #cc0033;
}

.form-actions
{
	margin-bottom: 40px;
}

/* FOOTER */
*{
	margin: 0;
}

html, body{
	height: 100%;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push{
	height: 4em;
}

small{
	font-size: 12px;
	font-weight: bold;
}